# Lab 9: Pandas, Apache Spark and Dataframes

## Goals:
* Basic Python Exercise with dataframes
* Set variables and learn basic operations
* Understand Dataframes with Pandas & Apache Spark
* Get familiarized with JupyterLabs Interface
* Ensure JupyterLab Server is communicating with our Spark Cluster
* Ensure JupyterLab Server, Spark Cluster & Elasticsearch are communicating
* Learn basic SparkSQL statements (JOINs)

## Basic Python Exercise

Let's get started with some language basics for Python.
* Set variables and learn basic operations

### Setting variables

A variable can have a short name (like x and y) or a more descriptive name (age, dog, owner).
Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

Reference:https://www.w3schools.com/python/python_variables.asp

In [1]:
dog_name = 'Pedro'
age = 3
is_vaccinated = True
birth_year = 2015

In [2]:
is_vaccinated

True

In [3]:
dog_name

'Pedro'

## Dataframes & Pandas

### Import Pandas Library

In [4]:
import pandas as pd

### Create Dataframe

Lets create a dataframe from an list of elements. We will make sure we define the column names as well

In [5]:
dog_data=[['Pedro','Doberman',3],['Clementine','Golden Retriever',8],['Norah','Great Dane',6]\
         ,['Mabel','Austrailian Shepherd',1],['Bear','Maltese',4],['Bill','Great Dane',10]]
dog_df=pd.DataFrame(dog_data,columns=['name','breed','age'])

### Preview the Dataframe

View the first 5 rows of your dataframe

In [6]:
dog_df.head()

         name                 breed  age
0       Pedro              Doberman    3
1  Clementine      Golden Retriever    8
2       Norah            Great Dane    6
3       Mabel  Austrailian Shepherd    1
4        Bear               Maltese    4

view the last 3 rows of your dataframe

In [7]:
dog_df.tail(3)

    name                 breed  age
3  Mabel  Austrailian Shepherd    1
4   Bear               Maltese    4
5   Bill            Great Dane   10

Get the dimension of your dataframe

In [8]:
dog_df.shape

(6, 3)

Compute length of each string in the Series/Index

In [9]:
len(dog_df)

6

Show column names

In [10]:
dog_df.columns

Index(['name', 'breed', 'age'], dtype='object')

Return a series with the data type of each column

In [11]:
dog_df.dtypes

name     object
breed    object
age       int64
dtype: object

Show row values

In [12]:
dog_df.values

array([['Pedro', 'Doberman', 3],
       ['Clementine', 'Golden Retriever', 8],
       ['Norah', 'Great Dane', 6],
       ['Mabel', 'Austrailian Shepherd', 1],
       ['Bear', 'Maltese', 4],
       ['Bill', 'Great Dane', 10]], dtype=object)

**Describe**
Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.

In [13]:
dog_df.describe()

             age
count   6.000000
mean    5.333333
std     3.326660
min     1.000000
25%     3.250000
50%     5.000000
75%     7.500000
max    10.000000

Count the number of values from a specific column

In [14]:
dog_df['breed'].value_counts()

Great Dane              2
Golden Retriever        1
Doberman                1
Austrailian Shepherd    1
Maltese                 1
Name: breed, dtype: int64

### Sorting

### Selecting/Quering

In [15]:
dog_df[['name','age']]

         name  age
0       Pedro    3
1  Clementine    8
2       Norah    6
3       Mabel    1
4        Bear    4
5        Bill   10

In [16]:
dog_df.iloc[2:4]

    name                 breed  age
2  Norah            Great Dane    6
3  Mabel  Austrailian Shepherd    1

In [17]:
dog_df.iloc[1:4, 0:2]

         name                 breed
1  Clementine      Golden Retriever
2       Norah            Great Dane
3       Mabel  Austrailian Shepherd

In [18]:
dog_df[dog_df['breed'].isin(['Great Dane', 'Maltese'])]

    name       breed  age
2  Norah  Great Dane    6
4   Bear     Maltese    4
5   Bill  Great Dane   10

In [19]:
dog_df[dog_df['name']=='Norah']

    name       breed  age
2  Norah  Great Dane    6

In [20]:
dog_df[(dog_df['name']=='Bill') & (dog_df['breed']=='Great Dane')]

   name       breed  age
5  Bill  Great Dane   10

In [21]:
dog_df[dog_df['age']<5]

    name                 breed  age
0  Pedro              Doberman    3
3  Mabel  Austrailian Shepherd    1
4   Bear               Maltese    4

In [22]:
dog_df[dog_df['breed'].str.contains('G')]

         name             breed  age
1  Clementine  Golden Retriever    8
2       Norah        Great Dane    6
5        Bill        Great Dane   10

### Merging Dataframes

“Merging” two datasets is the process of bringing two datasets together into one, and aligning the rows from each based on common attributes or columns.

First, lets create an additional dataframe. This dataframe will contain the name of the pet owners mapped to their pets names

In [23]:
owner_data=[['Bilbo','Pedro'],['Gandalf','Bear'],['Sam','Bill']]
owner_df=pd.DataFrame(owner_data,columns=['owner_name','dog_name'])

In [24]:
owner_df

  owner_name dog_name
0      Bilbo    Pedro
1    Gandalf     Bear
2        Sam     Bill

In [25]:
dog_df

         name                 breed  age
0       Pedro              Doberman    3
1  Clementine      Golden Retriever    8
2       Norah            Great Dane    6
3       Mabel  Austrailian Shepherd    1
4        Bear               Maltese    4
5        Bill            Great Dane   10

### Merge Parameters

**Syntax:** 

DataFrame.merge(**right**, **how**='inner', **on**=None, **left_on**=None, **right_on**=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

* **right** : DataFrame
* **how** : {‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘inner’
  * left: use only keys from left frame, similar to a SQL left outer join; preserve key order
  * right: use only keys from right frame, similar to a SQL right outer join; preserve key order
  * outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically
  * inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys
* **on** : label or list. Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.
* **left_on** : label or list, or array-like. Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.
* **right_on** : label or list, or array-like Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

More information about the parameters is here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

| Merge method | SQL Join Name | Description |
| -------------|---------------|-------------|
| left | LEFT OUTER JOIN | Use keys from left frame only | 
| right | RIGHT OUTER JOIN | Use keys from right frame only |
| outer | FULL OUTER JOIN | Use union of keys from both frames |
| inner | INNER JOIN | Use intersection of keys from both frames |

### Inner Merge

In [26]:
inner_df = owner_df.merge(dog_df, left_on='dog_name', right_on='name', how='inner')

In [27]:
inner_df

  owner_name dog_name   name       breed  age
0      Bilbo    Pedro  Pedro    Doberman    3
1    Gandalf     Bear   Bear     Maltese    4
2        Sam     Bill   Bill  Great Dane   10

In [28]:
inner_df=inner_df.drop(['name'],axis=1)

In [29]:
inner_df

  owner_name dog_name       breed  age
0      Bilbo    Pedro    Doberman    3
1    Gandalf     Bear     Maltese    4
2        Sam     Bill  Great Dane   10

### Left Merge

In [30]:
left_df = owner_df.merge(dog_df, left_on='dog_name', right_on='name', how='left')

In [31]:
left_df

  owner_name dog_name   name       breed  age
0      Bilbo    Pedro  Pedro    Doberman    3
1    Gandalf     Bear   Bear     Maltese    4
2        Sam     Bill   Bill  Great Dane   10

### Right Merge

In [32]:
right_df = owner_df.merge(dog_df, left_on='dog_name', right_on='name', how='right')

In [33]:
right_df

  owner_name dog_name        name                 breed  age
0      Bilbo    Pedro       Pedro              Doberman    3
1    Gandalf     Bear        Bear               Maltese    4
2        Sam     Bill        Bill            Great Dane   10
3        NaN      NaN  Clementine      Golden Retriever    8
4        NaN      NaN       Norah            Great Dane    6
5        NaN      NaN       Mabel  Austrailian Shepherd    1

### Outer Merge

In [34]:
outer_df = owner_df.merge(dog_df, left_on='dog_name', right_on='name', how='outer')

In [35]:
outer_df

  owner_name dog_name        name                 breed  age
0      Bilbo    Pedro       Pedro              Doberman    3
1    Gandalf     Bear        Bear               Maltese    4
2        Sam     Bill        Bill            Great Dane   10
3        NaN      NaN  Clementine      Golden Retriever    8
4        NaN      NaN       Norah            Great Dane    6
5        NaN      NaN       Mabel  Austrailian Shepherd    1

## Apache Spark, Jupyter & Elasticsearch

## Check the current Spark Session via the variable spark

You control your Spark Application through a driver process called the SparkSession
* The SparkSession instance is the way Spark executes user-defined manipulations across the cluster
* There is a one-to-one correspondence between a SparkSession and a Spark Application. 
* In Scala and Python, the variable is available as **spark** when you start the console. 
* Let’s go ahead and look at the SparkSession in Python:

Reference: Chambers, Bill; Zaharia, Matei. Spark: The Definitive Guide: Big Data Processing Made Simple (Kindle Locations 436-439). O'Reilly Media. Kindle Edition.

In [36]:
spark

SparkSession.sparkContext returns the underlying SparkContext

## Creating a Spark Session

A SparkSession can be created using a builder pattern.
* The builder automatically reuse an existing SparkContext if one exists and creates a SparkContext if it does not exist
* You can have as many SparkSessions as you want in a single Spark application
* The common use case is to keep relational entities separate logically in catalogs per SparkSession

Reference: https://jaceklaskowski.gitbooks.io/mastering-spark-sql/spark-sql-SparkSession.html

Let's create a new **Spark Session** to interact with our Elasticsearch server:

In [37]:
es_sparksession = (SparkSession
                  .builder
                  .appName("HELK")
                  .config("es.read.field.as.array.include", "tags")
                  .config("es.nodes","10.0.1.10:9200")
                  .config("es.net.http.auth.user","elastic")
                  .config("es.net.http.auth.pass","As3gura3lS3rv1d0rAm1g0!")
                  .getOrCreate()
)

## Read data from the HELK via Spark SQL

### Using the Data Frame API to access Elasticsearch index (Elasticsearch-Sysmon Index)

Spark SQL is a Spark module for structured data processing. It provides a programming abstraction called DataFrames and can also act as distributed SQL query engine
* Elasticsearch becomes a native source for Spark SQL so that data can be indexed and queried from Spark SQL transparently
* Spark SQL works with structured data - in other words, all entries are expected to have the same structure (same number of fields, of the same type and name)
* Using unstructured data (documents with different structures) is not supported and will cause problems.
* Through the **org.elasticsearch.spark.sql** package, esDF methods are available on the SQLContext API

Reference: https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html

In [38]:
es_reader = (es_sparksession
          .read
          .format("org.elasticsearch.spark.sql")
          .option("inferSchema", "true")
)

In [39]:
%%time
sysmon_df = es_reader.load("logs-endpoint-winevent-sysmon-*/doc")

CPU times: user 1.42 ms, sys: 269 µs, total: 1.69 ms
Wall time: 5 s

**Load**: Loads data from a data source and returns it as a :class`DataFrame`.
Reference: http://spark.apache.org/docs/2.2.0/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader.load

## Filter Operation

**Filter**: Filters rows using the given condition.
* where() is an alias for filter().

Reference: http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame.filter

Filter our the data to only show certain data fields and events with the action **"processcreate"** which is Sysmon Event ID 1

In [40]:
processcreate_df = sysmon_df.filter(sysmon_df.action == "processcreate")

## Select Operation

You can select a few columns from your dataframe with the **select** method.

**Select**: Projects a set of expressions and returns a new DataFrame
* Remember that select is a transformation, and it returns a new DataFrame. It does not modify the original datafrane. To see the resulting DataFrame, we will need to trigger an action, such as show.

Reference: http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame.select

In [41]:
processcreate_df = processcreate_df.select("process_guid","process_parent_name","process_parent_command_line","process_name","process_command_line","action","@timestamp")

In [42]:
%%time
processcreate_df.show(10)

+--------------------+-------------------+---------------------------+-------------------+--------------------+-------------+--------------------+
|        process_guid|process_parent_name|process_parent_command_line|       process_name|process_command_line|       action|          @timestamp|
+--------------------+-------------------+---------------------------+-------------------+--------------------+-------------+--------------------+
|8A57C8BC-B7C0-5B9...|       services.exe|       C:\Windows\system...|       taskhost.exe|taskhost.exe $(Arg0)|processcreate|2018-09-13 01:05:...|
|5CFEADD3-B7BB-5B9...|        svchost.exe|       C:\Windows\system...|        dllhost.exe|C:\Windows\system...|processcreate|2018-09-13 01:04:...|
|B4F10000-B7D4-5B9...|ServiceModelReg.exe|       "C:\Windows\Micro...|       wevtutil.exe| im C:\Windows\Mi...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7D5-5B9...|        msiexec.exe|       C:\Windows\syswow...|ServiceModelReg.exe|"C:\Windows\Micro...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7D3-5B9...|        msiexec.exe|       C:\Windows\system...|ServiceModelReg.exe|"C:\Windows\Micro...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7D3-5B9...|          csrss.exe|       %SystemRoot%\syst...|        conhost.exe|\??\C:\Windows\sy...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7D9-5B9...|        msiexec.exe|       C:\Windows\syswow...|     regtlibv12.exe|"C:\Windows\Micro...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7D9-5B9...|          csrss.exe|       %SystemRoot%\syst...|        conhost.exe|\??\C:\Windows\sy...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7DA-5B9...|          csrss.exe|       %SystemRoot%\syst...|        conhost.exe|\??\C:\Windows\sy...|processcreate|2018-09-13 01:05:...|
|B4F10000-B7DA-5B9...|          csrss.exe|       %SystemRoot%\syst...|        conhost.exe|\??\C:\Windows\sy...|processcreate|2018-09-13 01:05:...|
+--------------------+-------------------+---------------------------+-------------------+--------------------+-------------+--------------------+
only showing top 10 rows

CPU times: user 2.29 ms, sys: 0 ns, total: 2.29 ms
Wall time: 6.11 s

## Create Dataframes from the original Sysmon Dataframe (Preparing for a JOIN)

* Filter the original **sysmon_df** dataframe
* Select specific columns
* display results

### NetworkConnect Events

We are going to use the network events logged by Sysmon (Event ID 3)

In [43]:
networkconnect_df = sysmon_df.filter(sysmon_df.action == "networkconnect")

In [44]:
networkconnect_df = networkconnect_df.select("process_guid","dst_ip_addr","dst_port","dst_host_name","action","@timestamp")

In [45]:
networkconnect_df.show(10,truncate=False)

+------------------------------------+--------------+--------+-------------+--------------+-----------------------+
|process_guid                        |dst_ip_addr   |dst_port|dst_host_name|action        |@timestamp             |
+------------------------------------+--------------+--------+-------------+--------------+-----------------------+
|2AC42BF9-398D-5B98-0000-00104C270200|192.168.18.51 |48149   |null         |networkconnect|2018-09-13 00:00:04.126|
|0300CBFA-4E3F-5B98-0000-00102DDE0100|168.63.129.16 |80      |null         |networkconnect|2018-09-13 00:00:00.364|
|7F66EA28-2FFC-5B99-0000-00109F3FF400|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:03.301|
|7F66EA28-5D0B-5B99-0000-0010C0331101|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:01.972|
|CB6FAB7D-8B45-5B99-0000-0010DE57E001|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:03.845|
|2AC42BF9-398D-5B98-0000-00104C270200|192.168.18.51 |58869   |null         |networkconnect|2018-09-13 00:00:07.182|
|2AC42BF9-398D-5B98-0000-00104C270200|192.168.18.51 |42403   |null         |networkconnect|2018-09-13 00:00:00.835|
|CB6FAB7D-88BC-5B99-0000-00109BD9CE01|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:04.754|
|CB6FAB7D-6985-5B99-0000-0010BDA38101|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:06.197|
|CB6FAB7D-88BC-5B99-0000-00109BD9CE01|138.68.236.114|80      |null         |networkconnect|2018-09-13 00:00:35.481|
+------------------------------------+--------------+--------+-------------+--------------+-----------------------+
only showing top 10 rows

### FileCreate Event

In [46]:
filecreate_df = sysmon_df.filter(sysmon_df.action == "filecreate")

In [47]:
filecreate_df = filecreate_df.select("process_guid","file_name","action","@timestamp")

In [48]:
%%time
filecreate_df.show(10,truncate=False)

+------------------------------------+--------------------------------------------------------------------+----------+-----------------------+
|process_guid                        |file_name                                                           |action    |@timestamp             |
+------------------------------------+--------------------------------------------------------------------+----------+-----------------------+
|2AC42BF9-397E-5B98-0000-001011FD0000|c:\windows\serviceprofiles\localservice\appdata\local\lastalive1.dat|filecreate|2018-09-12 15:41:15.796|
|1EC6E006-4E9E-5B98-0000-0010E9BB0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:35.448|
|3E552A78-4E41-5B98-0000-0010B8BF0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:54.736|
|2AC42BF9-398D-5B98-0000-0010822D0200|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:38.602|
|1EC6E006-4E9E-5B98-0000-0010E9BB0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:49.947|
|51B208EE-4640-5B98-0000-001064061100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:44.224|
|0300CBFA-4E3C-5B98-0000-0010DFBC0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:52.233|
|51B208EE-4640-5B98-0000-001064061100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:29.561|
|B4F10000-4E43-5B98-0000-0010D1BB0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:30.544|
|57590CD3-4E37-5B98-0000-00108FBA0100|c:\windowsazure\logs\aggregatestatus\aggregatestatus.json           |filecreate|2018-09-12 15:41:55.197|
+------------------------------------+--------------------------------------------------------------------+----------+-----------------------+
only showing top 10 rows

CPU times: user 1.5 ms, sys: 283 µs, total: 1.78 ms
Wall time: 4.51 s

## Spark JOINs & Sysmon Data

Syntax: **join**(other, on=None, how=None)

Joins with another DataFrame, using the given join expression.

Parameters:	
* **other** – Right side of the join
* **on** – a string for the join column name, a list of column names, a join expression (Column), or a list of Columns. If on is a string or a list of strings indicating the name of the join column(s), the column(s) must exist on both sides, and this performs an equi-join.
* **how** – str, default ‘inner’. One of inner, outer, left_outer, right_outer, leftsemi.

Reference: http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame.join

### ProcessCreate -> NetworkCreate

In [49]:
process_network_df = processcreate_df.join(networkconnect_df, "process_guid", how="inner")

In [50]:
%%time
process_network_df.select("process_parent_name","process_name","dst_ip_addr").show(truncate=False)

+-------------------+--------------+--------------+
|process_parent_name|process_name  |dst_ip_addr   |
+-------------------+--------------+--------------+
|svchost.exe        |taskhostw.exe |null          |
|svchost.exe        |taskhostw.exe |null          |
|svchost.exe        |taskhostw.exe |null          |
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
|cmd.exe            |powershell.exe|138.68.236.114|
+-------------------+--------------+--------------+
only showing top 20 rows

CPU times: user 0 ns, sys: 5.35 ms, total: 5.35 ms
Wall time: 13.1 s

In [51]:
%%time
process_network_df.groupBy('process_parent_name').count().sort('count', ascending=False).show()

+--------------------+-----+
| process_parent_name|count|
+--------------------+-----+
|             cmd.exe|54831|
|      powershell.exe|32882|
|        WmiPrvSE.exe|32273|
|        userinit.exe|13509|
|        iexplore.exe| 7167|
|        services.exe| 2573|
|         wininit.exe| 2097|
|         explore.exe|  441|
|        explorer.exe|  205|
|ndp46-kb4457035-x...|   54|
|      WaAppAgent.exe|   52|
|         svchost.exe|   19|
|         soffice.exe|    6|
|        MpCmdRun.exe|    3|
|        mscorsvw.exe|    1|
+--------------------+-----+

CPU times: user 10.2 ms, sys: 269 µs, total: 10.5 ms
Wall time: 14.2 s

In [52]:
%%time
(process_network_df
            .filter(process_network_df
            .process_parent_name=="explore.exe")
            .select("process_parent_command_line","process_name","dst_ip_addr")
            .show(5,truncate=False)
)

+---------------------------------------------------------------------------------------------------------------------------------------+------------+--------------+
|process_parent_command_line                                                                                                            |process_name|dst_ip_addr   |
+---------------------------------------------------------------------------------------------------------------------------------------+------------+--------------+
|"C:\users\localadmin\explore.exe"  privilege::debug "sekurlsa::pth /user:nini.webb /domain:helk /ntlm:69d9783a25ce82f29ec78e70267f17c1"|cmd.exe     |138.68.236.114|
|"C:\users\localadmin\explore.exe"  privilege::debug "sekurlsa::pth /user:nini.webb /domain:helk /ntlm:69d9783a25ce82f29ec78e70267f17c1"|cmd.exe     |138.68.236.114|
|"C:\users\localadmin\explore.exe"  privilege::debug "sekurlsa::pth /user:nini.webb /domain:helk /ntlm:69d9783a25ce82f29ec78e70267f17c1"|cmd.exe     |138.68.236.114|
|"C:\users\localadmin\explore.exe"  privilege::debug "sekurlsa::pth /user:nini.webb /domain:helk /ntlm:69d9783a25ce82f29ec78e70267f17c1"|cmd.exe     |138.68.236.114|
|"C:\users\localadmin\explore.exe"  privilege::debug "sekurlsa::pth /user:nini.webb /domain:helk /ntlm:69d9783a25ce82f29ec78e70267f17c1"|cmd.exe     |138.68.236.114|
+---------------------------------------------------------------------------------------------------------------------------------------+------------+--------------+
only showing top 5 rows

CPU times: user 7.25 ms, sys: 0 ns, total: 7.25 ms
Wall time: 14 s

### ProcessCreate -> FileCreate

Let's focus now on the least frequent events

In [53]:
process_file_df = processcreate_df.join(filecreate_df, "process_guid", how="inner")

In [54]:
%%time
process_file_df.groupBy('process_parent_name').count().sort('count').show()

+--------------------+-----+
| process_parent_name|count|
+--------------------+-----+
| MusNotification.exe|    1|
|         explore.exe|    1|
|        MpCmdRun.exe|    2|
|             csc.exe|    3|
|                null|   10|
|AM_Engine_Patch_1...|   12|
|      powershell.exe|   17|
|         taskeng.exe|   18|
|        ie4uinit.exe|   28|
|   aspnet_regiis.exe|   41|
|        WmiPrvSE.exe|   56|
|   HealthService.exe|   60|
|        lpremove.exe|   80|
|ndp46-kb4457035-x...|  110|
|             cmd.exe|  128|
| CompatTelRunner.exe|  179|
|      WaAppAgent.exe|  622|
|         svchost.exe|  688|
|         wininit.exe|  795|
|        userinit.exe|  901|
+--------------------+-----+
only showing top 20 rows

CPU times: user 3.89 ms, sys: 745 µs, total: 4.63 ms
Wall time: 13.9 s

### HOW DO YOU GO DEEPER INTO A SPECIFIC PROCESS PARENT NAME?? (BONUS)